ahk==0.12.0
aioconsole==0.3.1
aiohttp==3.7.4.post0
altgraph==0.17
asgiref==3.3.4
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
chess==1.5.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.9
configparser==5.0.2
crayons==0.4.0
dhooks==1.1.4
discord==1.0.1
discord-webhook==0.12.0
discord.py==1.6.0
discordwebhook==1.0.2
Django==3.2.3
EasyProcess==0.3
entrypoint2==0.2.4
future==0.18.2
getmac==0.8.2
gTTS==2.2.2
idna==2.10
image==1.5.33
Jinja2==2.11.3
keyboard==0.13.5
MarkupSafe==1.1.1
mouse==0.7.1
MouseInfo==0.1.3
mss==6.1.0
multidict==5.1.0
mutagen==1.45.1
numpy==1.20.2
opencv-python==4.5.1.48
pathlib==1.0.1
pefile==2019.4.18
pillow==8.2.0
psutil==5.8.0
PyAutoGUI==0.9.52
pygame==2.0.1
PyGetWindow==0.0.9
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.9
pynput==1.7.3
pyperclip==1.8.2
PyRect==0.1.4
pyscreenshot==2.3
PyScreeze==0.1.26
PySide2==5.15.2
pytesseract==0.3.7
python-chess==0.31.4
PyTweening==1.0.3
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
pywinauto==0.6.8
requests==2.25.1
selenium==3.141.0
shiboken2==5.15.2
six==1.15.0
sqlparse==0.4.1
stockfish==3.14.0
typing-extensions==3.7.4.3
urllib3==1.26.4
webdriver-manager==3.3.0
yarl==1.6.3
